* {
    font-family: Trebuchet MS, Arial, Verdana, sans-serif;
}

main {
    text-align: center;
}

section {
    margin-top: 3em;
}

img {
    vertical-align: middle;
}

.nota {
    font-size: small;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

td {
    text-align: left;
    padding: 5px 1px;
    font-size: 0.9em;
}

.preco {
    font-size: 0.9em;
    color:gray;
}

input[type=number] {
    width:2em;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: white;
}

button {
    display: inline-block;
    padding: 0px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    border: 1px solid transparent;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -1px;
    color: #333;
    background-color: #eeeeee;
    margin: 5px 0;
    background-position: center center;
    background-repeat: no-repeat;
}

button:hover {
    color: #333;
    background-color: #ddd;
    border-color: #999;
}

button:active {
    color: #522;
    background-color: #eecccc;
    border-color: #aa8c8c;
}

input[type=button] {
    border-radius: 20px;
    width: 180px;
    height: 40px;

    border: 1px solid transparent;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -1px;
}